@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%) ;
      opacity: 0;
  }
  100% {
    transform: translateX(0) ;
      opacity: 1;
  }
}

@keyframes slideInFromBottom {
     0% {
    transform: translateY(50%) ;
      opacity: 0;
  }
  100% {
    transform: translateX(0) ;
      opacity: 1;
  }
}

@keyframes hover {
     0% {
    transform: translateY(2%) ;
  }
  50% {
    transform: translateY(0);
  }
    100% {
    transform: translateY(2%) ;
  }
}

@keyframes hover2 {
     0% {
    transform: translateY(2%) ;
  }
  50% {
    transform: translateY(0);
  }
    100% {
    transform: translateY(2%) ;
  }
}


.slideInFromTop
{
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.slideInFromBottom {
    animation: 1s ease-out 0s 1 slideInFromBottom;
    
}

.hover {
    animation-name: hover;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.hover2 {
    animation-name: hover;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
}


