@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600,700');

@font-face {
    font-family: Stellar-Light;
    src: url(fonts/Stellar-light.otf);
}

@font-face {
    font-family: Stellar-Bold;
    src: url(fonts/Stellar-Bold.otf);
}


body {
    margin: 0;
    background-color: #c92424;
}

.top, .bottom {
    width: 100%;
    text-align: center;
    position: absolute;
    color: #ffcc33;
    font-family: Stellar-Light;
}

.top a {
    color: #ffcc33;
    text-decoration: none;
    
}

.top {    
    z-index: 1000;
        top: 10px;
}

.bottom {
    z-index: 1000;
        bottom: 10px;
}

.bottom a {
    color: #ffcc33;
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

nav {
    padding-top: 32vh;
    width: 600px;
    margin: 0 auto;
}

a.main-nav {
    text-decoration: none;
    color: white;
    font-family: Stellar-Light;
    font-size: 30pt;
    text-transform: uppercase;
    display: inline-block;
}

h2.main-nav {
    color: #ffcc33;
    font-family: Stellar-Light;
    font-size: 14pt;
    text-transform: uppercase;
    padding-left: 170px;
    text-decoration: underline;
    margin-bottom: 2px;
}

h2.check {
    padding-left: 290px;
    margin-top: 4px;
    margin-bottom: 12px;
}

a.main-nav:hover, .bottom a:hover {
    text-decoration: underline;
}

.brno {
    padding: 6px 100px 6px 50px;
}

.got {
    padding: 6px 0px 6px 0px;
}

.mil {
    padding: 6px 0px 6px 150px;
}

.welcome p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 18px;
    width: 760px;
    font-weight: 400;
    margin: 16px auto;
}

.welcome p:nth-child(3) {
    width: 420px;
}

.welcome p span {
    color: #ffcc33;
}

.welcome p span.italic {
    font-style: italic;
}

.main-bg {
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.main-main-bg {
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.me {
    background-image: url(img/bg.png);
}


.transition {
  -webkit-transition: all 0.7s ease;  
  -moz-transition: all 0.7s ease;  
  -o-transition: all 0.7s ease;  
  -ms-transition: all 0.7s ease;  
  transition: all 0.7s ease;
}

.main, .main-bg {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.main {
    position: relative;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.brno-bg {
    background-image: url(img/brno-bg.png);

}

.got-bg {
    background-image: url(img/gbg-bg.png);

}

.mil-bg {
    background-image: url(img/mil-bg.png);

}

.opacity-1 {
    opacity: 1!important;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.opacity-0 {
    opacity: 0;
}



h1.about-me, .other-projects h2 {
    color: white;
    font-family: Stellar-Light;
    text-align: center;
    text-transform: uppercase;
    padding-top: 32px;
}

#about ul {
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 570px;
    font-size: 14pt;
    padding-right: 32px;
}

#about ul>li:nth-child (1) {
    list-style: none;
}

.column-2 {
    display: flex; 
}

#about li {
    padding: 8px 0 ;
}

#about li p {
    margin: 0;
    padding: 0;
}

#about ul.full-list li {
    padding: 2px 0; 
}

#about li a {
    color: #ffcc33;
    text-decoration: none;
}

#about li a:hover, .bottom-menu a:hover {
    text-decoration: underline;
}

#about h2 {
    font-family: Stellar-Bold;
    margin: 12px 0;
    text-transform: uppercase;
    color: #3f0051;
    text-decoration: underline;
}

#about h3 {
    margin: 0;
    padding-top: 16px;
}

.test-box {
    display: block;
    align-self: center;
    max-width: 420px;
}

p.tldr {
    background-color: #3f0051;
    color: white;
    text-transform: uppercase;
    font-family: Stellar-Bold;
    font-size: 30px;
    line-height: 45px;
    display: inline;
    -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
    padding: 8px 8px 3px 8px;
}

p.tldr span, .back a span, h1.about-me span {
    color: #ffcc33;
}

#about ul.full-list {
    width: 100%;
}


#about li p.date {
    font-size: 14px;
    padding: 6px 0;
    margin: 0
}

.box-spans {
    display: block;
    width: 330px;
}

.back {
    padding: 32px;
    margin: 0 auto;
    text-align: center;
    width: 420px;
}

.back a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Stellar-Bold;
    font-size: 30px;
    line-height: 1.2em;
}

.back a:hover {
    text-decoration: underline;
    color: #3f0051;
}

div.heading {
    position: absolute;
    top: 17vh;
    right: 10vw;
}

p.heading {
    font-size: 36pt;
    line-height:  48pt;
    background: none;
}

.cenzura-1 {
    position: absolute;
    width: 330px;
    height: 40pt;
    top: 48pt;
overflow: hidden;
}

.cenzura-1 span, .cenzura-2 span {
     display: inline-block;
    width: 100%;
    height: 100%;
    background: #3f0051;
    transform: translateX(0);
    transition: all 0.3s linear;
}

.cenzura-1:hover span {
    transform: translateX(100%);
    background: #ffcc33;
}

.cenzura-2:hover span {
    transform: translateX(-100%);
    background: #ffcc33;
}

.cenzura-2 {
    position: absolute;
    width: 330px;
    height: 40pt;
    top: 145pt;
    right: 0;
    overflow: hidden;
}

.phone-ssa {
    z-index: 33;
    top: 70vh;
    position: absolute;
    width: 100%;
    background-size: 30vh;
    text-align: center;
}

.phone-ssa img {
    max-width: 40vw;
    width: 100%;
}

.text {
    margin-top: 130vh;
}

.text p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 510px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.quote {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 84px;
    margin-bottom: 32px;
    background-image: url(img/koda.png);
    background-position: center left;
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: 500px 500px;
}

.quote h4, .quote-2 h4 {
    
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 30pt;
    width: 390px;
    text-align: left;
    padding-top: 84px;
    margin-left: 45%;
    margin-bottom: 10px;
}

.quote-2 h4 {
    padding-top: 260px;
    padding-bottom: 40px;
    margin-left: 18px;
    width: 330px;
}

.quote h5 {
    color: white;
    font-size: 14pt;
    font-weight: 100;
    margin-left: 65%;
    margin-top: 0;
    font-style: italic;
}

.mockups-got {
    background-image: url(img/mockups-got.png);
    background-size: 1200px auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 745px;
    margin: 0 auto;
    top: 0;
    overflow-x: hidden;
}

.quote-2 {
    background-image: url(img/moose.png);
    background-size: 450px auto;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.top--250 {
    position: relative;
    top: -250px;
}

.top--130 {
    position: relative;
    top: -130px;
}

.desc-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    width: 100%;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    overflow: hidden;
    padding: 12px 0;
    margin: 0 18px;
}

.border-top {
    border-top: 3px solid white;
}

.liseberg {
    background-image: url(img/liseberg.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
}

.liseberg .back a {
    font-size: 36px;
}

.liseberg .back a:hover {
    color: #ffcc33;
}

.other-projects h2 {
    color: #c92424;
    margin: 0 auto;
    padding-bottom: 16px;
}

.other-projects {
    background-color: white;
    width: 100%;background-image: url(img/knot-gun.png);
    background-size: 40%;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.box-img {
    width:300px;
    height: 200px;
    background: black;
    margin: 12px 12px;
    background-size: auto 100%;
    background-position: center;
    text-decoration: none;
    transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.box-img:hover {
    background-size: auto 120%;
    
}

.box-img:hover h3 {
    margin-top: 80px;
    
}



a.box-img h3, a.box-img h4 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2px auto;
    background-color: white;
    color: black;
    width: 120px;
    padding:3px;
    transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

a.box-img h3 {
    margin-top: 110px;
    text-transform: uppercase;
    width: 200px;
}





.cv {
    background-image: url(img/got/cv.jpg);
}

.ar {
    background-image: url(img/got/ar.jpg);
}

.ail {
    background-image: url(img/got/AIL.png);
}

.spil {
    background-image: url(img/got/spil.png)
}

.rytir {
    background-image: url(img/got/rytir.png)
}

.fk {
    background-image: url(img/got/fargkoket.png)
}

.bottom-menu {
    justify-content: flex-start;
    display: flex;
    width: 200px;
    padding-top: 80px;
}

.bottom-menu a, .bottom-menu span {
    color: #c92424;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 30pt;
    font-weight: 700;
    padding: 8px;
}
